
@font-face {
    font-family: 'renfrewregular';
    src: url('renfrew-webfont.woff2') format('woff2'),
         url('renfrew-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.renfrew {font-family: 'renfrewregular', Arial, sans-serif; }
.column p {
  color: #9cf;
  text-align: justify;
  text-indent: 20px;
}
p { line-height: 1.6em;}

html {
  font: .9em Tahoma, Verdana, Sans-Serif, Arial;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
    background-image: url('../images/bgsky.jpg');
    color: #fff;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}


b,strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}



img {
  max-width:100%;
  height:auto;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}


textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
}

.container {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

.container .column,.container .columns {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.row {
  margin-bottom: 2rem;
}

.row .column:first-child,.row .columns:first-child {
  margin-left: 0;
}

@media(min-width:550px) {
  .container .column,.container .columns {    margin-left: 4%;  }
  .container .one.column,.container .one.columns {    width: 4.66666666667%;  }
  .container .two.columns {    width: 13.3333333333%;  }
  .container .three.columns {    width: 22%;  }
  .container .four.columns {    width: 30.6666666667%;  }
  .container .five.columns {    width: 39.3333333333%;  }
  .container .six.columns {    width: 48%;  }
  .container .seven.columns {    width: 56.6666666667%;  }
  .container .eight.columns {    width: 65.3333333333%;  }
  .container .nine.columns {    width: 74.0%;  }
  .container .ten.columns {    width: 82.6666666667%;  }
  .container .eleven.columns {    width: 91.3333333333%;  }
  .container .twelve.columns {    width: 100%;    margin-left: 0;  }
  .container .one-third.column {    width: 30.6666666667%;  }
  .container .two-thirds.column {    width: 65.3333333333%;  }
  .container .one-half.column {    width: 48%;  }
  .container .offset-by-one.column,.container .offset-by-one.columns {    margin-left: 8.66666666667%;  }
  .container .offset-by-two.column {    margin-left: 17.3333333333%;  }
  .container .offset-by-three.column {    margin-left: 26%;  }
  .container .offset-by-four.column {    margin-left: 34.6666666667%;  }
  .container .offset-by-five.column {    margin-left: 43.3333333333%;  }
  .container .offset-by-six.column {    margin-left: 52%;  }
  .container .offset-by-seven.column {    margin-left: 60.6666666667%;  }
  .container .offset-by-eight.column {    margin-left: 69.3333333333%;  }
  .container .offset-by-nine.column {    margin-left: 78.0%;  }
  .container .offset-by-ten.column {    margin-left: 86.6666666667%;  }
  .container .offset-by-eleven.column {    margin-left: 95.3333333333%;  }
  .container .offset-by-one-third.column {    margin-left: 34.6666666667%;  }
  .container .offset-by-two-thirds.column {    margin-left: 69.3333333333%;  }
  .container .offset-by-one-half.column {    margin-left: 52%;  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color:#ffcc33
}

h1 {
  font-size: 3.0rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.0rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media(min-width:550px) {
  h1 {    font-size: 3.0rem;  }
  h2 {    font-size: 2.0rem;  }
  h3 {    font-size: 1.8rem;  }
  h4 {    font-size: 1.6rem;  }
  h5 {    font-size: 1.3rem;  }
  h6 {    font-size: 1.2rem;  }
}

a {
  color: #1EAEDB;
}

a:hover {
  color: #0FA0CE;
}

.button,button,input[type="submit"],input[type="reset"],input[type="button"] {
  display: inline-block;
  background-color: transparent;
  border-radius: 4px;
  color: #555;
  text-align: center;
  font-size: 11px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #bbb;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  letter-spacing: .05rem;
  text-transform: uppercase;
  white-space: nowrap;
  box-sizing: border-box;
}

.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:focus,button:focus,input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus {
  border-color: #888;
  color: #333;
  outline: 0;
}

.button.button-primary,button.button-primary,input[type="submit"].button-primary,input[type="reset"].button-primary,input[type="button"].button-primary {
  color: #FFF;
  border-color: #33C3F0;
  background-color: #33C3F0;
}

.button.button-primary:hover,button.button-primary:hover,input[type="submit"].button-primary:hover,input[type="reset"].button-primary:hover,input[type="button"].button-primary:hover,.button.button-primary:focus,button.button-primary:focus,input[type="submit"].button-primary:focus,input[type="reset"].button-primary:focus,input[type="button"].button-primary:focus {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
  color: #FFF;
}

input[type="email"],input[type="search"],input[type="text"],input[type="password"],textarea,select {
  border: 1px solid #D1D1D1;
  height: 36px;
  padding: 6px 10px;
  border-radius: 4px;
  box-shadow: none;
  background: #fff;
}

input[type="email"],input[type="search"],input[type="text"],textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,input[type="search"]:focus,input[type="text"]:focus,input[type="password"]:focus,textarea:focus,select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],input[type="radio"] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,ul {
  margin-top: 0;
  padding-left: 0;
}

ul ul,ul ol,ol ol,ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  white-space: nowrap;
}

pre>code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

th,td {
  padding: 6px 6px;
  text-align: left;
}

/*th:first-child,td:first-child {
  padding-left: 0;
}

th:last-child,td:last-child {
  padding-right: 0;
} */

button,.button {
  margin-bottom: 1rem;
}

input,textarea,select,fieldset {
  margin-bottom: 1.5rem;
}

pre,blockquote,form,dl,figure,table,p,ul,ol,form {
  margin-bottom: 2.5rem;
}


.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid #666666;
}

.container:after,.row:after,.u-cf {
  content: "";
  display: table;
  clear: both;
}


h4,p,.feedburnerFeedBlock {
  margin: 1.0rem;
}


.column {
  margin-top: 1rem;
}

.main {
  padding:12px;
  background-color: #111;
}

.current {
  background-color: #3c5077;
}


.button.button-primary {
  background-color: #444;
}

@media(min-width:750px) {
  .logo {    display: block;  }
  p {    margin: 1rem;  }
}

.header {
  text-align: center;
}

.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}

.value-img {
  display: block;
  text-align: center;
  margin: .5rem auto 0;
}

.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal;
}

.navbar+.main {
  border-top-width: 0;
}

.navbar,.navbar-spacer {
  display: block;
  width: 100%;
  height: 4.5rem;
  background: #111;
  z-index: 99;
}

.navbar-spacer {
  display: none;
}

.navbar>.container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  border-bottom: 1px solid #dddddd;
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .1rem;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  line-height: 3.3rem;
  color: #eeeeee;
}

.navbar-link.active {
  color: #cccccc;
}

.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.has-docked-nav .navbar-spacer {
  display: block;
}

.has-docked-nav .navbar>.container {
  width: 80%;
}
.u-center-block {
  margin-left: auto;
  margin-right: auto; }
